name: Build and Deploy to GitHub Pages

on:
    push:
        branches:
            - main

permissions:
    contents: write

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "24.11"
                  cache: "npm"

            - name: Install dependencies
              run: npm ci

            - name: Build
              env:
                  VITE_GIPHY_KEY: ${{ secrets.VITE_GIPHY_KEY }}
              run: |
                  REPO_NAME="${GITHUB_REPOSITORY#*/}"
                  npm run build -- --base "/${REPO_NAME}/"

            - name: Deploy
              uses: JamesIves/github-pages-deploy-action@v4
              with:
                  branch: gh-pages
                  folder: dist
                  clean: true
